<!--User infoã¨New Book-->
<%= render 'book', books: @books %>

<h1>Books</h1>

<% @Books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>
  
  <p>Opinion</p>
  <span><%= books.opinion %></span>
  
<% end %>